html, body{
	height:100%;
	width:100%;
}

.mainWell{

	margin-top: 2%;
	height: 40%;
	width: 40%;

}

.itemLabel{
	font-size: 1.2em;
	padding: 0 10 0 10
}

.toggle{
		display: inline-block;
    float: left;
}


.itemInput{
	padding: 10px;
    font-size: 1.5em;
    text-align: center;
}

.destroy:hover{
		cursor: pointer
}

.destroy {
	float: right
}