html, body{
	height:100%;
	width:100%;
}

.mainWell{

	margin-top: 2%;
	height: 40%;
	width: 40%;

}

.itemLabel{
	font-size: 1.5em;
}

.left{
    float: left;
}

.right {
	float: right
}

.itemInput{
	padding: 10px;
    font-size: 1.5em;
    text-align: center;
}

.destroy:hover{
	cursor: pointer
}

label.active{
	text-decoration: line-through;
}

.completed{
	color: #B5ADAD;
}

.filter{
	padding-right: 15px
}

.filter:hover{
    font-weight: bold;
    cursor: pointer
}

.filterContainer{
	   margin-right: 10%;
}